#root {
  background-color: #CFFFB0;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CFFFB0;
  color: #EF476F;
  font-weight: bold;
}

h1 {
  margin: 0;
}

button {
  all: unset;
  padding: 3%;
  background-color: #F5CCE8;
  color: #EF476F;
  border-radius: 50px;
}

.landing {
  text-align: center;
  min-width: 80%;
}

.landing h1 {
  font-size: 10rem;
  padding-bottom: 1rem;
}

.landing button {
  font-size: 2rem;
  width: 10rem;
  margin: 0 1rem;
}

form {
  text-align: center;
  font-size: 2rem;
}

form input {
  all: unset;
}

form label {
  display: block;
  text-align: left;
  margin: 10% 0;
}

form button {
  width: 10rem;
}

form>* {
  margin: 3% 0;
}

button.logout {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 1.5rem;
  padding: 1.2%;
}

.quiz {
  width: 80%;
  text-align: center;
  font-size: 2.5rem;
}

button.start {
  font-size: 3rem;
  margin: 4%;
}

.answers-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.answer {
  font-size: 1.8rem;
}

button.reset {
  padding: 1.2% 5%;
  margin: 3%;
  font-weight: bolder;
}

.answer-block {
  font-size: 1.5rem;
  text-align: left;
  background-color: rgb(212, 221, 249);
  border-radius: 20px;
  margin: 2%;
  padding: 2%;
}

.user-answer {
  font-weight: normal;
  padding: 1%;
}

.correct-answer {
  font-weight: bold;
  background-color: #CFFFB0;
  padding: 1%;
  margin-top: 1%;
  border-radius: 20px;
}

p.number {
  font-weight: bolder;
}

.selected {
  background-color: #EF476F;
  color: #F5CCE8;
}

button.settings {
  position: absolute;
  top: 1rem;
  left: 2rem;
  font-size: 1.5rem;
  padding: 1.2%;
}

form.quiz-setup {
  min-width: 85%;
  padding-bottom: 10%;
}

form.quiz-setup button {
  margin: 0 2%;
  padding: 1%;
}

.buttons-box {
  margin-bottom: 8%;
}

.preferences {
  width: 60%;
}

.num-questions {
  width: 3rem;
}

select {
  all: inherit;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 1%;
  background-color: rgb(212, 221, 249);
  color: #EF476F;
  border-radius: 5px;
  margin-bottom: 10%;
}